<div class="input-container">
    <form action="">
        <div class="all-inputs">
            <label for="initialInvestment">
                <span>Initial Investment</span>
                <input type="number" name="initialInvestment" id="initialInvestment">
            </label>
            <label for="annualInvestment">
                <span>Annual Investment</span>
                <input type="number" name="annualInvestment" id="annualInvestment">
            </label>
            <label for="expectedReturn">
                <span>Expected Return</span>
                <input type="number" name="expectedReturn" id="expectedReturn">
            </label>
            <label for="duration">
                <span>Duration</span>
                <input type="number" name="duration" id="duration">
            </label>

        </div>
        <button>calculate</button>
    </form>
</div>